:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --hero-color: #ffffff;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--primary-text-color); 
    letter-spacing: 0.03em;
    font-size: 14px;
    background: var(--hero-color);
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid tomato;
}

/*logo*/
.logo,
.logo-bottom {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo {
    color: #000000;
}
.logo-text {
    color: var(--accent-color);
}
/*site-nav*/

.link {
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.contact-link {
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-text-color);
margin-bottom: 200px;
}
.contact .contact-link:hover,
.contact .contact-link:focus {
    color: var(--accent-color);
}


/*hero*/
.hero {
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--hero-color);
    /*temporary bcg*/
    background: #2F303A;
    outline: 1px solid tomato;
}
.title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    
}
.btn-hero {
    padding-top: 10px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    font-family: inherit;
    color: var(--hero-color);
    background: var(--accent-color);
    border-radius: 4px;
    border: 0;
    /* width: 200px;
    height: 50px; */
}

.btn-hero:hover {
    background: #188CE8;
}
/*Advantages*/
.hidden {
    display: none;
}
.advantage-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: inherit;
    font-weight: 700;
    line-height: 1.14;
    color: var(--title-text-color);
    text-transform: uppercase;
}
.advantage-text {
    margin-top: 0;
    line-height: 1.7;
}
.advantage-list {
    margin-bottom: 94px;
}

/*works*/
.works-title,
.stuff-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
}
.works-title {
    margin-top: 0;
    margin-bottom: 50px;
}
.works-list {
    margin-bottom: 188px;
}
/*stuff*/
.stuff {
    background: #F5F4FA;
}
.stuff-title {
    margin-top: 0;
    margin-bottom: 50px;
}
.stuff-title-name {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    color: var(--title-text-color);
}
.stuff-posotion,
.stuff-title-name {
    font-size: 16px;
    line-height: 1.19;
}
.stuff-position {
    margin-top: 0;
    margin-bottom: 0;
}
/*footer*/
.footer {
    padding-top: 60px;
    background-color: #2F303A; 
}

.logo-bottom {
    color: var(--hero-color);
    margin-bottom: 20px;
    
}
.address {
    padding-bottom: 60px; 
    line-height: 1.71;
    color: var(--hero-color);
    font-style: inherit;
}
.address-street {
    margin-top: 0;
    margin-bottom: 20px;
}
.mail {
    margin-bottom: 9px;
}


.address-link {
    color: rgba(255, 255, 255, 0.6);
}
.address .address-link:hover,
.address .address-link:focus {
    color: var(--accent-color);
}
/*portfolio*/
.btn-portfolio {
    padding-top: 6px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 6px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: var(--title-text-color);
    border: 0;
    border-radius: 3px;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
    color: var(--hero-color);
    background: var(--accent-color);
}
.title-portfolio {
    margin-top: 20px;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.text-title-portfolio {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 1.9;
    
}